name: Python Checks

on:
  # Runs at every push on main
  push:
    branches: main

  # Runs at every pull request
  pull_request:
    types: [opened, synchronize, reopened]

  # Runs at every pull request review
  pull_request_review:
    types: submitted

  # Runs manually via Run Workflow in GitHub Actions
  workflow_dispatch:

  # Runs every Monday at 12:00 UTC
  schedule:
    - cron: '0 12 * * 1'

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Hard cleanup
        run: |
          echo "Initial free space:"
          df -h
      
          # Clean Docker safely
          docker system prune -af || true
          docker builder prune -af || true
    
          sudo rm -rf /opt/hostedtoolcache || true
      
          # Remove ONLY log files from runner diagnostics - safe
          sudo find /home/runner/actions-runner -type f -name "*.log" -delete || true
      
          echo "Free space after cleanup:"
          df -h
    
      - name: Checkout code
        uses: actions/checkout@v4
      
      # Python
      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11.9"
          cache: 'pip'
      
      # Dependencies
      - name: Install Dependencies
        run: |
          pip install pip==24.1.2
          pip install -r base-requirements.txt
          pip install ruff mypy

      # Ruff
      - name: Ruff
        run: |
          ruff check --output-format=github .
          ruff check --select I --output-format=github .
      
      # MyPy
      - name: MyPy
        run: mypy --explicit-package-bases .

      # Set PYTHONPATH
      - name: Set PYTHONPATH
        run: echo "PYTHONPATH=$(pwd)" >> $GITHUB_ENV
